@media screen and (min-width: 900px) {
  body {
    padding-top: 0 !important;
  }
}

body {
  padding-top: 0 !important;
}

#nn_bfa_wrapper,
#nn_skinl,
#nn_skinr,
#nn_mpu1,
#nn_mobile_mpu1,
#nn_mobile_mpu2,
#mys-wrapper,
#nn_mobile_lb1_wrap,
#sticky_wrapper,
#nn_mobile_lb1,
#nn_1by1 {
  display: none !important;
}

div.ad-container {
  display: none !important;
}
